<% layout('boilerplate') %>

    <div class="card bg-warning mb-3">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/campus3.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/campus1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/campus4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">We are proud to be the silliest university in all of the world.</h5>
        </div>
    </div>

    <section class="row">
        <div class="col-sm-4">
            <div class="card text-center">
                <img src="/img/aba.jpg" class="card-img-top img-fluid">
                <div class="card-body">
                    <a class="card-title h5" href="/alumni">Celebrating Alumni</a>
                    <p class="card-text">Though our history, we have been graced with the greatest alum, here's to her.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card text-center">
                <img src="/img/campus2.jpg" class="card-img-top img-fluid" style="max-height: 470px;">
                <div class="card-body">
                    <a class="card-title h5" href="/alumni">Celebrating Alumni</a>
                    <p class="card-text">Though our history, we have been graced with the greatest alum, here's to her.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card text-center">
                <img src="/img/crest.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="card-title h5" href="/alumni">Celebrating Alumni</a>
                    <p class="card-text">Though our history, we have been graced with the greatest alum, here's to her.
                    </p>
                </div>
            </div>
        </div>
    </section>